/* Remove white border*/
* {
    margin: 0;
    padding: 0;
}

.top-nav {
    overflow: hidden;
    background-color: rgba(180, 143, 65, 0.616);
}
.nav-links {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1eaea52;
  }

.nav-links li{
    float: right;
    display: block;
    position: relative;
  }

.nav-links a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
/*Changes colour when hover on link*/
.top-nav a:hover{
    background-color: #a5894c9d;
    cursor: pointer;
}
/* Drop Down Menu */
.dropdown-content li{
    float: none;
}
.dropdown-content {
    display: none;
    position: relative; 
}
.gallery-conent:hover>ul{
    display:block;
}
.nav-links li a{
    display: block;
}

.title {
    text-align: center;
    padding: 50px;
}

/*Tank video on home page*/
#myVideo {
    position: sticky;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
  }

.home-page {
    
}

.contact-page {
    padding: 15em;
}


.footer-page {
    display: grid;
    background-color: #b38f419d;
    padding: 50px 0px;
    grid-template-columns: 50% auto;
}
/* Styles for icons in footer*/
.fa {
    float:right;
    font-size: 60px;
    text-decoration: none;
    margin-right: 10px;
    vertical-align: middle;
  }
.fa:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }
.fa-instagram {
    grid-column: 3;
    grid-row: 1;
    color: black;
  }
.fa-github {
    grid-column: 3;
    grid-row: 1;
    color: rgb(0, 0, 0);
  }
.fa-linkedin {
    grid-column: 3;
    grid-row: 1;
    color: black;
  }
.fa-twitter {
    grid-column: 3;
    grid-row: 1;
    color: black;
  }

/* Gallery Page */
.gallery-parallax{
  background-image: url("Images/lt2.jpg");
  filter: blur(1px);
  -webkit-filter: blur(4px);
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: #0e0e0efb;
  font-weight: bold;
  font-size: 150%;
  background-color: rgba(248, 248, 248, 0.329); 
  border: 5px solid #000000;
  border-radius: 10px;
  text-align: center;
  font-family: 'Exo', sans-serif;
}
.gallery-text h4{
  padding: 10px;
  color: #fffffffb;
  font-family: 'Exo', sans-serif;
  font-size: 85%;
}
.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:  300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.container img:hover{
  transform: scale(1.02);
  cursor: pointer;
}
.info a:link{
  text-decoration: none;
}
.info a:visited {
  color: black;
}
.info a:hover {
  color: rgb(236, 198, 71);
}
.info a:active {
  color: black;
}

/*Styling for Gallery*/
.main-container{
  padding: 50px;
  background-image: url("Images/bg.jpg");
  background-size: cover;         
  background-position: center;     
}
.main-container h1{
  color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.829);
  width: 150px;
  font-family: 'Nanum Myeongjo', serif;
  border: 2px solid #ffffff88;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
  padding:20px 20px 50px;
}
#ww1{
  justify-content: center;
  align-content: center;
}
.card{
  background-color: rgba(65, 30, 1, 0.651);
  border-radius: 20px;
  max-width: 350px;
  height: 100%;
  padding-top: 20px;
  margin-right: 0px;
}
.card .info {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.459);
  width: 300px;
  padding: 0px;
}
.card h2{
  text-align: center;
  vertical-align: middle;
}
.flag-icon {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 4px;
}
.flag-icon-sun{
  margin-top: 4px;
}

/* Custom Scroll Bar */
.index-page, .gallery-page, .about-page{
  overflow:overlay;
}
::-webkit-scrollbar {
  width: 11px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  border-radius: 10px;

}
::-webkit-scrollbar-thumb {
  background: #e0e0e0be;
  border-radius: 10px;

}
::-webkit-scrollbar-thumb:hover {
  background: #88703bf6;
}

